<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Cuaderno de Bitácora</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}"> <!-- Importante porque depende de la dirección donde se sirve -->
</head>

<body>
  {% block content %} {% endblock content %}
</body>

</html>