{% extends "base.html" %}

{% block content %}

<main>
  <div class="container">
    <h1 class="header_archive">{{ section.title }}</h1>
    <ul class="blog_container">
      <!-- If you are using pagination, section.pages will be empty.
           You need to use the paginator object -->  
      <!--{% for page in section.pages %}
      <li class="blog_item">
        <p class="date">{{ page.date }}</p>
        <a href="{{ page.permalink | safe }}" class="title">{{ page.title }}</a>
        <p class="reading_time"> {{ page.reading_time }} min</p>
      </li>
      {% endfor %}-->
      {% for page in section.pages %}
        <!--<p class="subtext_archive">Escrito el {{ page.date | date(format="%d de %B de %Y") }}. Lectura en {{ page.reading_time }} min.</p>-->
        <p class="subtext_archive">Escrito el {{ page.date | date(format="%d/%m/%Y") }}.</p>
        <a href="{{ page.permalink | safe }}" class="link_archive">{{ page.title }}</a>
      {% endfor %}
    </ul>
  </div>
</main>

 <!--
<footer>
  <div class="footer_container">
    <p>
      Copyright Pablo Nicolás 2025
    </p>
    <p>
      Built using <a href="https://www.getzola.org/documentation/content/sass/">Zola</a>.
    </p>
  </div>
</footer>
-->

{% endblock content %}

<!--<li class="blog_item"><a href="{{ page.permalink | safe }}">{{ page.title }}, {{ page.date }}, {{ page.reading_time }} min</a></li>-->